<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - WebApplication1</title>

</head>

<body>
    <header>
        <!-- Ваш заголовок -->
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <!-- Ваш подвал -->
    </footer>


    @RenderSection("Scripts", required: false) <!-- Отображение секции Scripts -->
</body>

</html>