<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>WebApplication1</title>
</head>

<body>
    <header>

    </header>
</body>

<div class="container">

    <main role="main" class="pb-3">

        @RenderBody()

    </main>

</div>

</html>